p{
    color: red;

}
h3{
    color: blue;
}
a{
    background-color: green;
}
#parrafo3{
    color: green;
}
.parrafogris{
    color: gray;
}
.parrafonegro{
    color: black;
}
.fondoamarillo{
    background-color: yellow;
}
.textoGrandeNegrita{
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
